Source: autotzd
Section: misc
Priority: optional
Maintainer: Ubuntu Developers <ubuntu-devel-discuss@lists.ubuntu.com>
XSBC-Original-Maintainer: Victor Portnov <victor.portnov@teleca.com>
Uploaders: Philippe De Swert <philippe.de-swert@nokia.com>
Build-Depends: debhelper (>= 9),
 qtbase5-dev (>= 5.2.1),
 libiodata-dev (>= 0.18),
 libpcre3-dev (>= 1:8.35)
Standards-Version: 3.9.5

Package: autotzd
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, tzdata, tzdata-timed
Description: timezone detection daemon
 The automatic time zone daemon (autotzd) detects time zones based upon
 events and queries made to ofono, and will in turn use systemd-timedated
 to change the time zone.

